*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(45deg,rgb(36, 164, 214),rgb(31, 223, 105));
    padding-top: 5px;
}

p {
    font-family: monospace;
    font-size: 20px;
}

.screen {
    background: rgba(172, 172, 172, 0.6);
    border: 4px solid gray;
    border-radius: 10px;

    padding: 10px;

    width: 70vw;
    height: 50vh;
    margin: 0 auto;

    display: block;
    overflow:auto;
}

.text {
    width: inherit - 40px;
    padding: 0 10px;
    border-radius: 10px;
    height: 46px;
    background: black;
    overflow: hidden;
    color: white;
}

textarea {
    margin-top: 20px;

    width: inherit;
    size: fixed;
}


.keyboard {
    width: 70vw;
    height: 30vh;
    position: relative;
    margin: 0 auto;
    top: 2vh;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.keys{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 1vw;
    height: auto;
    padding: 10px 20px;
    margin: 3px;
    
    background: rgba(224, 224, 224, 0.6);

    transition: all .07s ease;
}

.active {
    transform: scale(1.1);
}

.keys kbd {
    font-family: monospace;
    font-size: 2.1vh;
}

.fifth-row .keys{
    width: 1.2vw;
}

#backspace {
    width: 9vw;
}

#tab {
    width: 3.2vw;
}

#enter-1 {
    width: 6vw;
}

#enter-2 {
    width: 4vw;
}

#cl {
    width: 5.2vw;
}

#shift-1 {
    width: 7vw;
}

#shift-2 {
    width: 11.5vw;
}

#ctrl-1 {
    width: 3.2vw;
}

#ctrl-2 {
    width: 6vw;
}

#spacebar {
    width: 26vw;
}